.cardContainer{
  display: flex;
  flex-direction: column;
  background-color: #ddefe0;
  padding: 10px 36px;
  border-radius: 10px;
  width:150px;
  height:100px;
}
.icon{
    height: 24px;
    width:24px;
    align-self:self-end;
}
.card_text{
    color: #000;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
   
}
.card_number{
    color: #000;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  margin: 0;

}