.dashboard_container{
    background-color: #f5f5f5;
    min-height:100vh;
    padding:25px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
       
}
.content_container{
  display:flex;
  justify-content:center;
  width: 100%;
  max-width:1250px;
 
}
.side_bar_container{
    background-color: #000;
    min-width:22%;
    border-radius:10px;
}

@media screen and (max-width:768px){
  .side_bar_container{
    display: none;
  }
}


.right_side_container{
  display: flex;
  flex-direction: column;
  margin-left:40px;
  width:78%;
}

@media screen and (max-width:768px){
  .right_side_container{
    width:100%;
  }
}




.side_bar_content{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding:20px 2px 2px 50px;
  height:100%;
}

.side_bar_heading{
    color:#ffffff;
    font-family: "Montserrat";
    font-size: 32px;
  font-weight: 700;
  

}
.items_list{
    list-style-type: none;
    padding:0;
    
}
.list_item{
  color: #fff;
  font-size: 18px;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight:700;
}
.icon{
    height:17px;
    width:17px;
    padding-right:12px;
}

.right_side_content_container{

  display:flex;
  flex-direction:column;
  width:100%;
  
}
.dashboard_search_container{
  display: flex;
  align-items: center;
  justify-content:space-between;

}
@media screen and (max-width:576px){
  .dashboard_search_container{
    display:flex;
    flex-direction:column;
  }
}
.search_bell_profile_container{
    display:flex;
    align-items: center;
  justify-content:space-between;
}

.dashboard_search_container_heading{
    color: #000;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 700;
}

.search_container{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 8px;
  border-radius: 6px;
}
.hamburger-icon-button{
  display: flex;
  cursor: pointer;
  background-color:transparent;
  border: none;
  padding-right:5px;
}
@media screen and (min-width:768px) {
  .hamburger-icon-button{
    display:none;
  }
  
}
.popup-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: #24080cad;
  width: 100vw;
  height: 100vh;
}
.modal-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 458px;
}

@media screen and (min-width: 768px) {
  .modal-container {
    max-width: 1110px;
  }
}

.close-button {
  align-self: flex-end;
  background-color:transparent;
  color:#fff;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}

.nav-items-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  width: 350px;
}

.nav-item{
  display: flex;
gap: 20px;
align-items: center;
margin:7px;
padding-left: 10px;

} 


.search_feild{
    border: none;
    outline:none;
    padding:4px;
}
.bell_icon{
    height:22px;
    width:20px;
    padding:12px;
}
.profile_pic{
    height:30px;
    width:30px;
    padding-right:8px;
}
.cards_list{
list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}
.graph_container{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 14px;
}
@media screen  and (max-width:576px){
  .graph_container{
    width:250px;
  }
  
}

.right_side_cards_headings{
  color: #000;
  font-size:16px;
  font-family: "Montserrat";
  font-weight:700;
}
.graph_date{
    color:#858585;
    font-size: 14px;
  font-family: "Montserrat";
  font-weight:400;
}
.right_side_card_items_container{
    display: flex;
    justify-content:space-between;
    margin-top:15px;
}

@media screen and (max-width:576px){
  .right_side_card_items_container{
    display: flex;
    flex-direction:column; 
  }
}
.right_side_card_container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 20px;
    max-width: 350px;
    width:100%;
}

@media screen and (max-width:992px){
  .right_side_card_container{
    width:250px;
  }
}
@media screen and (max-width:768px){
  .right_side_card_container{
    margin-bottom:8px;
  }
}


.heading_date_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.see_all_text{
    color:#858585;
    font-size: 14px;
  font-family: "Montserrat";
  font-weight:400;
}
.schedule_container{
    border-left:#9BDD7C;
    border-style: solid;
    border-width:5px;
    border-top: none;
    border-bottom: none;
    border-right:none;
    padding-left:8px;
    margin-top:10px;
    
}

.schedule_name{
    color: #666;
    font-size: 13px;
    font-family: "Lato";
    font-weight: 700;  
}
.schedule_time_place{
    color:#999999;
    font-size: 12px;
  font-family: "Lato";
  font-weight: 400;
}

.second_schedule{
    border-left: #6972C3;
    border-style: solid;
    border-width:5px;
    border-top: none;
    border-bottom: none;
    border-right:none;
    padding-left:8px;
    margin-top:10px;
   
}
